{{#partial "content"}}
<h1>Hero list!</h1>

{{#if heroes}}
    {{#each Hero}}
    <p>Current Hero:</p>
    <p>{{ content }}</p>
    {{/each}}
    {{else}}
    <p>No hero!</p>
    {{/if}}

    <div class="hero-desc">
      <h3>Let's Make You  a Hero</h3>
        <a href="/hero-form"><button type="submit" class="btns-btns">Add Hero</button></a>
    </div>
  </section>
{{/partial}}
{{> layout.hbs}}
