{{#partial "content"}}

<hi>Success!</hi>
  <section class="landing-pg">
        <div class="land-left">
        </div>
        <div class="land-right">
        </div>

        <div class="success">
            {{ item }}
            <h3>Success <br>  <span>{{ item }} </span> <br> Has been created successfully <br>{{sqId}}</h3>

            <a class="btn btn-red" href="/hero">View Heroes</a>
            <a class="btn btn-red" href="/squad">View Squads</a>
            <a href="/"> Go Back</a>

</div>
</section>


{{/partial}}
{{> layout.hbs}}